APP_PORT=8081
MYSQL_HOST_PORT=3307
MYSQL_DATABASE=family_tree
MYSQL_ROOT_PASSWORD=change_me
MYSQL_APP_USER=root
MYSQL_APP_PASSWORD=change_me
MYSQL_IMAGE=docker.m.daocloud.io/library/mysql:8.0
IPFS_IMAGE=ghcr.io/ipfs/kubo:v0.30.0

CONFLUX_RPC_URL=https://evmtestnet.confluxrpc.com
CONFLUX_PRIVATE_KEY=
CONFLUX_CONTRACT_ADDRESS=

IPFS_MULTI_ADDRESS=/dns4/ipfs-node/tcp/5001
IPFS_API_PORT=5001
IPFS_GATEWAY_PORT=8080
IPFS_SWARM_PORT=4001

SPRING_PROFILES_ACTIVE=prod
